c7m==0.1.2
appdirs==1.4.4
asgiref==3.2.7
bleach==3.1.5
boto3==1.13.8
botocore==1.16.8
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
Django==3.0.6
django-tailwind==0.8.0
docutils==0.15.2
future==0.18.2
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
javabridge==1.0.18
jeepney==0.4.3
jmespath==0.10.0
joblib==0.14.1
keyring==21.2.1
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.15.4
opencv-python==4.2.0.34
packaging==20.3
pandas==1.0.3
Pillow==7.1.2
pkginfo==1.5.0.1
pooch==1.1.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
python-bioformats==1.5.2
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
PyWavelets==1.1.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
s3transfer==0.3.3
scikit-image==0.17.1
scikit-learn==0.23.0
scipy==1.4.1
SecretStorage==3.1.2
six==1.14.0
sqlparse==0.3.1
threadpoolctl==2.0.0
tifffile==2020.5.11
tqdm==4.46.1
twine==3.2.0
urllib3==1.25.9
webencodings==0.5.1
