{% extends "base.html" %}

{% block title %}Annotating {{ dataset_name }}{% endblock %}

{% block content %}
<p>
    Already labeled {{number_labeled}} out of {{total_patches}} patches ({{percent_labeled}}%).
</p>
<form action="" method="post" class="flex flex-col justify-items-stretch mt-5">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form, patch, serie, patch_id in data %}
        <p class="mt-4"></p>
            Series {{ serie }}, patch {{ patch_id }} from dataset {{ dataset_name }}.
        </p>
        <div class="mt-4 flex justify-between">
            {% for name, channel_stack in patch.items %}
            <div class="flex-1 text-center">
                <p class="mb-2">{{ name }}</p>
                {% for z_slice in channel_stack %}
                <img class="mx-auto w-3/4 mt-2" src="data:image/png;base64,{{z_slice}}" />
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="md:w-1/4 mt-3">
            {{ form }}
        </div>
    {% endfor %}
    <input
        class="mt-4 bg-gray-600 hover:bg-gray-700 w-1/2
        text-white font-semibold py-2 px-4 rounded cursor-pointer
        justy-self-end"
        type="submit" value="Submit and go to next set of patches">
<form>
{% endblock %}